! Extensions
! ==========
!
! - matcher,selection-to-clipboard: for clicking on URLs
! - font-size: for scaling fonts
!   https://github.com/majutsushi/urxvt-font-size/blob/master/font-size
!
URxvt.perl-ext-common: default,matcher,tabbed,selection-to-clipboard,font-size

XTerm*faceName: Bitstream Vera Serif Mono
xterm*faceSize: 11
xterm*vt100*geometry: 80x60
xterm*saveLines: 16384
xterm*loginShell: true
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
xterm*eightBitInput: false


!BLK Cursor
#define _color0        #000d18
#define _color8        #6272a4
!RED Tag
#define _color1        #FF5555
#define _color9        #FF5555
!GRN SpecialKey
#define _color2        #9ECE9E
#define _color10       #9ECE9E
!YEL Keyword
#define _color3        #f0dfaf
#define _color11       #f0dfaf
!BLU Number
#define _color4        #6272a4
#define _color12       #bd93f9
!MAG Precondit
#define _color5        #ff79c6
#define _color13       #ff79c6
!CYN Float
#define _color6        #8be9fd
#define _color14       #8be9fd
!WHT Search
#define _color7        #efefef
#define _color15       #efefef
!FMT Include, StatusLine, ErrorMsg
#define _colorBD       #ffcfaf
#define _colorUL       #ccdc90
#define _colorIT       #80d4aa
!TXT Normal, Normal, Cursor
#define _foreground    #f8f8f2
#define _background    #29353b
! #1f1f1f
#define _cursorColor   #8055a9


!## Seção das configurações específicas do emulador de terminal RXVT
URxvt*color0         : _color0
URxvt*color1         : _color1
URxvt*color2         : _color2
URxvt*color3         : _color3
URxvt*color4         : _color4
URxvt*color5         : _color5
URxvt*color6         : _color6
URxvt*color7         : _color7
URxvt*color8         : _color8
URxvt*color9         : _color9
URxvt*color10        : _color10
URxvt*color11        : _color11
URxvt*color12        : _color12
URxvt*color13        : _color13
URxvt*color14        : _color14
URxvt*color15        : _color15
URxvt*colorBD        : _colorBD
URxvt*colorIT        : _colorIT
URxvt*colorUL        : _colorUL
URxvt*foreground     : _foreground
URxvt*background     : _background
URxvt*cursorColor    : _cursorColor


!## Seção das configurações específicas do emulador de terminal XTERM
XTerm*color0         : _color0
XTerm*color1         : _color1
XTerm*color2         : _color2
XTerm*color3         : _color3
XTerm*color4         : _color4
XTerm*color5         : _color5
XTerm*color6         : _color6
XTerm*color7         : _color7
XTerm*color8         : _color8
XTerm*color9         : _color9
XTerm*color10        : _color10
XTerm*color11        : _color11
XTerm*color12        : _color12
XTerm*color13        : _color13
XTerm*color14        : _color14
XTerm*color15        : _color15
XTerm*colorBD        : _colorBD
XTerm*colorIT        : _colorIT
XTerm*colorUL        : _colorUL
XTerm*foreground     : _foreground
XTerm*background     : _background
XTerm*cursorColor    : _cursorColor


!! URxvt Appearance

! Fonts
! =====
!URxvt.font: xft:Monospace:size=12
!URxvt.allow_bold: true

!urxvt -fn 'xft:Font Awesome'
!URxvt.font: xft:Menlo:pixelsize=12,xft:Inconsolata\ for\ Powerline:pixelsize=12

!URxvt.font: xft:Bitstream Vera Serif Mono:style=Bold:size=10
!URxvt.font: xft:monaco:size=10,xft:FontAwesome5Free:pixelsize=10

URxvt.font: xft:monaco:size=10,xft:3270Medium\ Nerd\ Font\ Mono:pixelsize=16

! Scrolling
! =========
URxvt.saveLines: 10000
URxvt.scrollBar: true
URxvt.scrollstyle: rxvt
URxvt.scrollBar_floating: true
URxvt.scrollColor: #282a36
URxvt.scrollBar_right: true
!URxvt.scrollBar: true
URxvt.thickness: 12

! Scroll locking
URxvt.scrollTtyOutput:      false
URxvt.scrollWithBuffer:     true
URxvt.scrollTtyKeypress:    true


URxvt*lineSpace:1
!URxvt.letterSpace:-1
URxvt.letterSpace:2
URxvt.geometry: 80x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048

URxvt.urgentOnBell: true
URxvt*depth: 24
!URxvt.iso14755: false



! Interaction
! ===========

! allow filepaths to select as one, otherwise delimit
URxvt.cutchars: "\"(),<>[]{}|''"

! For clickable urls (RMB), not an exact match to gnome-shell.
URxvt.url-launcher: xdg-open
!URxvt.matcher.button: 3
URxvt.matcher.button: 1


! Key Bindings
! ============

! Copy/Paste, same keys as gnome-terminal
! https://stackoverflow.com/questions/39884093
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false
! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:
! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

URxvt.keysym.Home: 3[H
URxvt.keysym.End:  3[F

! match vte/xterm
URxvt.keysym.Control-Up:    3[1;5A
URxvt.keysym.Control-Down:  3[1;5B
URxvt.keysym.Control-Left:  3[1;5D
URxvt.keysym.Control-Right: 3[1;5C

! clear the scrollback
URxvt.keysym.Control-l: command:3c

URxvt.urlLauncher: google-chrome
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt*transparent:       true
URxvt*shading:       10
URxvt.bidi.enabled: 1

! TABS
!!You can also interact with your tabs using the keyboard:
!!Shift+Down Arrow opens a new tab
!!Shift+Left Arrow activates the previous tab
!!Shift+Right Arrow activates the next tab
!!Ctrl+Left Arrow moves the current tab to the left
!!Ctrl+Right Arrow moves the current tab to the right
!!Ctrl+D closes the current tab

URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    0
